:root {
  --bar-width: 0%;
  --num-sponsors: 5;

  /* Colors */

  --blue-100: #e8f5fe;
  --yellow-300: #ffe7b9;
  --red-800: #5d1c1c;

  /* Assignments */
  --background-color: var(--blue-100);
  --nametag-background: var(--yellow-300);
  --nametag-text: var(--red-800);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.scene {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  border: 1px solid gray;
  background: var(--background-color);
}
