.progressBar {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 120px;
}

.progressBar .oceanDirty {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* opacity: 0.5; */
}

.progressBarInner:after,
.progressBarInner:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  mix-blend-mode: overlay;
  background: linear-gradient(
    to right,
    rgba(100, 255, 255, 0.4),
    rgba(40, 248, 255, 0.3)
  );
}

.progressBarInner:before {
  mix-blend-mode: overlay;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.4)
  );
}

.progressBarInner {
  position: absolute;
  height: 100%;
  width: var(--bar-width);
  max-width: 100%;
  transition: width 1s cubic-bezier(0.27, 1.01, 0.78, 1.06);
}

.progressBarInner .oceanClean {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left center;
  position: relative;
}

.donationStats {
  height: 100%;
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.progressBarMessage {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 112.5%;

  text-align: center;
  letter-spacing: 0.01em;

  color: #cd4646;
}
