.timer {
  text-align: center;
}

.timer p {
  margin: 0;
}

.startingSoon {
  color: #0e4970;
  font-family: "Recoleta Alt", display;
  font-size: 52px;
  font-weight: 500;
}

.timeDisplay {
  color: #cd4646;
  font-family: "Roboto Mono", "Recoleta Alt", display;
  font-size: 150px;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
  margin-top: -0.25em !important;
}
